@charset "UTF-8";


li,ol,ul{list-style: none;}



.left_move{
    position: absolute;
    left: 0;
    top: 0;
    width: 300%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 2rem;
    color: white;
    padding: 50px 0 0;
    text-align: center;
    background-color: ;
}
